<ul class="comments">
    {% if comments %}
    {% for comment in comments %}
    <li class="comment">
        <div class="comment__image mx-3">
            <a href="{{ url_for('main.profile', id=comment.author_id) }}">
                <img class="img-rounded profile-thumbnail rounded-circle "
                     src="{{url_for('main.load_avatar', id=comment.author_id)}}"
                     width="64px" height="64px">
            </a>
        </div>
        <div class="comment__content">
            <div class="comment__author">
                <a href="{{ url_for('main.profile', id=comment.author_id) }}">
                    {{ comment.author.login }}
                </a>
            </div>
            <div class="comment__body">
                {% if comment.content %}
                {{ comment.content | safe }}
                {% endif %}
            </div>
            <div class="comment__date">{{ moment(comment.timestamp).fromNow() }}</div>
        </div>
    </li>
    {% endfor %}
    {% else %}
    <div>Нет комментариев</div>
    {% endif %}
</ul>