{% extends 'base.html' %}


{% block links %}
<link href="{{ url_for('static', filename='styles/create_blog.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="create-blog card">
    <form method="POST" action="{{ url_for('main.create_blog') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="create-blog__header">
            <div class="create-blog__header_text">
                {{ title }}
            </div>
        </div>

        <div class="create-blog__content">
            <div class="create-blog__preview">
                <img id="image_load" src="{{ url_for('static', filename='img/image_not_found.jpg') }}" alt="preview"
                     height="256px" width="256px"/>
                <div class="create-blog__preview_loader">
                    <input type="file" id="file" name="preview_image" class="file" placeholder="preview"
                           accept="image/*"
                           required>
                    <label for="file">
                        Выберете изображение
                    </label>
                </div>
            </div>
            <input class="create-blog__content_field" id="title" placeholder="title" type="text" name="title" value=""
                   required>
            <input class="create-blog__content_field" id="description" placeholder="description" type="text"
                   name="description" value="" required>
            <textarea class="create-blog__content_field" id="content" placeholder="content" type="text" name="content"
                      value=""
                      required></textarea>
        </div>
        <div class="create-blog__footer">
            <button type="submit">
                <span class="button__text">Отправить</span>
                <div class="button__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                                d="M503.7 226.2l-176 151.1c-15.38 13.3-39.69 2.545-39.69-18.16V272.1C132.9 274.3 66.06 312.8 111.4 457.8c5.031 16.09-14.41 28.56-28.06 18.62C39.59 444.6 0 383.8 0 322.3c0-152.2 127.4-184.4 288-186.3V56.02c0-20.67 24.28-31.46 39.69-18.16l176 151.1C514.8 199.4 514.8 216.6 503.7 226.2z"/>
                    </svg>
                </div>
            </button>
        </div>
    </form>
</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/imageLoader.js') }}"></script>
{% endblock %}